html {
    background-image: url("https://image.shutterstock.com/image-photo/abstract-dark-gray-template-blank-260nw-1011961660.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
  }
